


body  {margin-left: 2rem;}

.even   { background-color: lightblue;
  padding: 1rem 2rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}
.odd   { background-color: lightgreen;
  padding: 1rem 2rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.start   { background-color: lightgray;
  padding: 1rem 2rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.highlight    { color: white;
                background-color: blue;
                padding: 0.5rem;
              }
.simple { color: black;

}