


body  { margin-left: 5rem;

}

.box  { background-color: rgba(0, 0, 0, 0.5);
  margin: 2rem;
  padding: 4rem;
}

.sunRise   { background-color: yellow;
              margin: 2rem;
              padding: 4rem;

          }

#timeBtn   { background-color: rgba(255, 255, 255, 0.5);
             border: none;
             padding: 0.5rem;
}