


body    {
        margin-left: 5rem;
        margin-top: 1rem;
}

button  {       background-color: rgba(0, 0, 0, 0.75);
                padding: 0.5rem 1rem;
                border: none;
                color: white;
}
button:hover    {       font-weight: 600;
                        cursor: pointer;
}


.room   {   background-color: lightslategray;
            padding: 5rem;
            height: 10rem;
            margin: 5rem;
            align-content: center;
            justify-content: center;
            color: white;
        }

.darkRoom   {   background-color: black;
                padding: 5rem;
                height: 10rem;
                margin: 3rem;
                align-content: center;
                justify-content: center;
                color: white;
        }

.litRoom   {    background-color: yellow;
                padding: 5rem;
                height: 10rem;
                margin: 3rem;
                align-content: center;
                justify-content: center;
                color: black;
        }

    


